/* General */

/* main color: #9a0000 */
/* cdio color: #309495 */

body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 12px;
}

.clearfix::after
{
  content: " 0020";
  line-height: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
}

h1
{
  color: #6c6c6c;
  font-size: 27px;
  font-weight: 200;
  line-height: 35px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6c6c6c;
}

h2
{
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  font-style: italic;

  padding: 0px 0px 5px 0px;
}

.block h2.title
{
  border-bottom: 1px solid #6c6c6c;
}

h3
{
  color: #6C6C6C;
  font-weight: 500;
}

h4
{
  color: #6C6C6C;
}

h5
{
  color: #6C6C6C;
}

h6
{
  color: #6C6C6C;
}

h1.title,
h2.title,
h3.title
{
  margin: 0px 0px 5px 0px;
}

a,
a:link
{
  color: #9a0000;
}

.dtu-cdio a,
.dtu-cdio a:link
{
  color: #309495;
}

a:hover
{

}

a:active,
a.active
{

}

table
{
  width: 100%;
}

table tr
{
  
}

table tr.first
{
  border-top: 1px solid #CCC;
}

table tr.odd
{
  background-color: #eee;
}

table tr.even
{
  background-color: #fafafa;
}

table tr td,
table tr th
{
  padding: 5px 5px 5px 5px;
}

#page-wrapper
{
  padding: 0px 0px 50px 0px;
}

#page
{
  font-size: 12px;
  line-height: 130%;
}

/* Header */

#header-wrapper
{
  width: 100%;
  height: 86px;

  background: url('../images/default/header-red.jpg') center top repeat-x #9a0000;
}

.dtu-cdio #header-wrapper
{
  background: url('../images/default/header-green.jpg') center top repeat-x #309495;
}

#header
{
  width: 960px;
  height: 86px;
  margin: 0px auto;
}

.cdio-logo
{
  float: left;
  width: 113px;
  height: 76px;
  margin: 5px 0px 0px 45px;

  background: url('../images/default/cdio-logo.png') center top no-repeat transparent;
}

#name-and-slogan
{
  float: left;
}

/*#site-name span*/
/*{*/
  /*float: left;*/
  /*width: 322px;*/
  /*height: 32px;*/
  /*margin: 40px 0px 0px 205px;*/

  /*background: url('../images/default/conferences-header.png') center top no-repeat transparent;*/

  /*text-indent: -999em;*/
  /*overflow: hidden;*/
/*}*/

#site-name span
{
  float: left;
  /*width: 322px;*/
  height: 32px;
  margin: 40px 0px 0px 205px;

  color: #fff;
  font-size: 37px;
  font-weight: 200;
  line-height: 45px;
}

#site-name a:hover
{
  text-decoration: none;
}

h1#site-name
{
  border: 0px;
}

.dtu-cdio #site-name span
{
  width: 497px;
  height: 57px;
  margin: 17px 0px 0px 35px;

  background: url('../images/default/cdio-header.png') center top no-repeat transparent;
}

.dtu-logo
{
  float: right;
  width: 43px;
  height: 63px;
  margin: 10px 0px 0px 0px;

  background: url('../images/default/dtu-logo.png') center top no-repeat transparent;
}

#header #site-name a,
#header #site-name a:visited,
#header #site-name a:link
{
  color: #fff;
}

/* Navigation */

#navigation-wrapper
{
  width: 100%;
  height: 36px;

  background: url('../images/default/navigation-bg.jpg') center top repeat-x transparent;

  border-top: 1px solid #eee;
}

#navigation
{
  float: none;
  width: 960px;
  height: 36px;
  margin: 0px auto;

}

#navigation ul#main-menu li
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#navigation ul#main-menu li a
{
  float: left;
  height: 16px; /* 36px */
  padding: 11px 30px 7px 30px;

  color: #333;
  text-decoration: none;
}

#navigation ul#main-menu li a:hover
{
  /*background: #cecece;*/
  /*color: #999;*/
  border-bottom: 3px solid #999;
}

#navigation ul#main-menu li a.active
{
  /*color: #fff;*/

  /*background: #d9d9d9;*/

  border-bottom: 3px solid #666666;
  /*background: #949494; *//* Old browsers */
  /*background: -moz-linear-gradient(top,  #949494 0%, #bbbbbb 17%); *//* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949494), color-stop(17%,#bbbbbb)); *//* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top,  #949494 0%,#bbbbbb 17%); *//* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top,  #949494 0%,#bbbbbb 17%); *//* Opera 11.10+ */
  /*background: -ms-linear-gradient(top,  #949494 0%,#bbbbbb 17%); *//* IE10+ */
  /*background: linear-gradient(top,  #949494 0%,#bbbbbb 17%); *//* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#bbbbbb',GradientType=0 ); *//* IE6-9 */
}








/* Breadcrumbs */

/* Main */

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second
{
  margin-top: 15px;
}


/* Second Sidebar */

/* Footer */

#footer-wrapper
{
  width: 100%;
  min-height: 50px;

  background: rgb(236,236,236); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}

#footer
{
  width: 960px;
  margin: 0px auto;
  padding: 10px 0px;
}


/* Blocks */

#block-islandora_solr_search-basic_facets
{
  
}

#block-islandora_solr_search-basic_facets a
{
  line-height: 1.5em;
}

#block-islandora_solr_search-basic_facets a.shown-toggle
{
  float: right;
  margin: 0 0 5px;
  text-align: right;
  width: 100%;
}

#block-islandora_solr_search-basic_facets h3
{
  font-size: 1.1em;
}

.view-conference-list .views-exposed-form label {
  float:left;
  padding: 4px 5px;
}
.view-conference-list .views-exposed-form .views-exposed-widget div.views-widget {
  float:right;
}
.view-conference-list .views-exposed-form .views-exposed-widget input.form-text {
  width: 200px;
}
.view-conference-list .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.2em;
}

.views-conference-list-date-widget .date {
  height: 45px;
  width: 35px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #CCC;
}

.views-conference-list-date-widget .date .month {
  color: #B5B5B1;
  font-size: 9px;
  height: 12px;
  display: block;
  width: 100%;
  height: 15px;
  background-color: #9a0000;
}
.dtu-cdio .views-conference-list-date-widget .date .month {
  color: #D1D1CD;
  background-color: #309495;
}

.views-conference-list-date-widget .date .day {
  color: #6c6c6c;
  font-size: 22px;
  display: block;
  width: 100%;
  padding-top: 6px;
}

.view-conference-list .views-field-title .conference-name span.title {
  display: block;
}

.view-conference-list .views-field-title .conference-name span.slogan {
  display: block;
}

.view-conference-list .views-table a {
  text-decoration: none;
  padding: 10px;
}

.islandora_solr_results tr.hidden {
  display: none;
}

.islandora_solr_results td.jquery-toggle {
  width: 2%;
}
.islandora_solr_results td.dc-source {
  width: 26%;
}
.islandora_solr_results td.dc-creator {
  width: 19%;
}
.islandora_solr_results td.dc-title {
  width: 38%;
}
.islandora_solr_results td.dtu-video {
  width: 5%;
}
.islandora_solr_results td.dtu-slides {
  width: 5%;
}
.islandora_solr_results td.dtu-paper {
  width: 5%;
}

.islandora_solr_results td.dc-description {
  width: 55%;
}

.islandora_solr_results td.dc-creator span.creator {
 display:block;
}

.islandora_solr_results span.abstract {
  font-weight:bold;
}

#block-islandora_solr_search-simple h2.title {
  float:left;
  border:none;
  padding: 0 10px;
}
form#islandora-solr-simple-search-form input#edit-islandora-simple-search-query {
  width: 50%;
}
form#islandora-solr-simple-search-form input.form-submit {
  display: none;
}

.toggle-solr-row,
.toggleable-solr-row
{
  cursor: pointer;
}

table .toggle-solr-row.even:hover,
table .toggleable-solr-row.even:hover
{
  background-color: #fefefe;
}

table .toggle-solr-row.odd:hover,
table .toggleable-solr-row.odd:hover
{
  background-color: #f4f4f4;
}
